#colProperties {}
  #colProperties p {
    text-align:left;
    margin:2px 0;
  }
  #colProperties p.title {
    font-weight:bold;
  }
  #colProperties p:not(.title) {
    margin-bottom:10px;
  }

#publicURL {
  display:inline-block;
  height:22px;
}
  #publicURL .url {
    display:inline-block;
    height:14px;
    vertical-align:bottom;
    padding:3px 10px;
    background:#fff;
    font-family:monospace;
    font-size:12px;
    color:#666;
    border:1px solid #999;
    border-radius:0 3px 3px 0;
  }
  #publicURL .button {
    display:inline-block;
    background:#e7e7e7 url('resources/link.png') center center no-repeat;
    width:25px;
    height:20px;
    vertical-align:bottom;
    border:1px solid #999;
    border-right:none;
    border-radius:3px 0 0 3px;
    cursor:pointer;
  }
  #publicURL .confirm {
    font-weight:bold;
    margin-left:5px;
  }

.thumbnailCategory {
  position:relative;
}
.thumbnailCategory .collectionActions {
  display:none;
  position:absolute;
  right:5px;
  bottom:5px;
}
.thumbnailCategory:hover .collectionActions {
  display:block;
}

/* SEND BY MAIL */
.uc_form {
  width:540px;
  padding:10px;
}
  .uc_form table td {
    padding-bottom:5px;
    text-align:left;
  }
  .uc_form table td.title {
    font-weight:bold;
    text-align:right !important;
    padding-top:3px;
    vertical-align:top;
    width:120px;
    white-space:nowrap;
  }
  .uc_form input[type="text"], .uc_form textarea, .uc_form select {
    border-radius:2px;
    padding:3px;
  }

#share_form .url-base {
  font-size:0.9em;
}
#share_form .url-more {
  text-decoration:underline;
}

.ui-datepicker-current { display:none; }

.shares_list {
	border-left:1px solid #444;
	border-right:1px solid #444;
	margin:1em auto;
	padding:0;
  background-color:#222;
  border-spacing:0;
  text-align:left;
  color:#aaa;
}

.shares_list td, .shares_list th {
	padding:5px 5px 2px 5px;
  vertical-align:center;
  border-top:1px solid #444;
  border-bottom:1px solid #111;
}

.shares_list tr.row2 td { background-color:#222; }
.shares_list tr.row1 td { background-color:#333; }

.shares_list tr.expired td {
  text-decoration:line-through;
}

.shares_list tr.header th
{
  height:30px;
}
.shares_list tr.header th {
  background:#333333;
  background:-moz-linear-gradient(top,  #333333 0%, #222222 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222));
  background:-webkit-linear-gradient(top,  #333333 0%,#222222 100%);
  background:-o-linear-gradient(top,  #333333 0%,#222222 100%);
  background:-ms-linear-gradient(top,  #333333 0%,#222222 100%);
  background:linear-gradient(top,  #333333 0%,#222222 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 );
}

.user-collections-delete-icon {
  background:transparent url('resources/delete.png') center center no-repeat !important;
}
.user-collections-clear-icon {
  background:transparent url('resources/bin.png') center center no-repeat !important;
}
.user-collections-share-icon {
  background:transparent url('resources/share.png') center center no-repeat !important;
}
.user-collections-mail-icon {
  background:transparent url('resources/mail.png') center center no-repeat !important;
}

.collection-edit {
  text-align: center;
}