#colProperties {}
  #colProperties p {
    text-align:left;
    margin:2px 0;
  }
  #colProperties p.title {
    font-weight:bold;
  }
  #colProperties p:not(.title) {
    margin-bottom:10px;
  }

#publicURL {
  display:inline-block;
  height:22px;
}
  #publicURL .url {
    display:inline-block;
    height:14px;
    vertical-align:bottom;
    padding:3px 10px;
    background:#fff;
    font-family:monospace;
    font-size:12px;
    color:#666;
    border:1px solid #999;
    border-radius:0 3px 3px 0;
  }
  #publicURL .button {
    display:inline-block;
    background:#e7e7e7 url('resources/link.png') center center no-repeat;
    width:25px;
    height:20px;
    vertical-align:bottom;
    border:1px solid #999;
    border-right:none;
    border-radius:3px 0 0 3px;
    cursor:pointer;
  }
  #publicURL .confirm {
    font-weight:bold;
    margin-left:5px;
  }

.thumbnailCategory {
  position:relative;
}
.thumbnailCategory .collectionActions {
  display:none;
  position:absolute;
  right:5px;
  bottom:5px;
}
.thumbnailCategory:hover .collectionActions {
  display:block;
}

/* MAIL AND SHARE POPIN */
.uc_form {
  margin: auto;
}

.uc_form > .uc_input_group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;;
}

.uc_form label {
  font-weight: bold;
}

.uc_form input, .uc_form textarea{
  border: rgb(240, 150, 00) 1px solid;
  background: none;
  padding: 5px;
  border-radius: 5px;
  color: #111;
}

.uc_form input:focus-visible, .uc_form textarea:focus-visible {
  outline: 0;
}

.uc_form .uc_radio, .uc_form .uc_opt_param {
  flex-direction: row;
}

.uc_form .uc_radio input, .uc_form .uc_opt_param input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.uc_form .uc_radio label, .uc_form .uc_opt_param label {
  border: rgb(240, 150, 00) 1px solid;
  padding: 7px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.uc_form .uc_radio input:checked + label, .uc_form .uc_opt_param input:checked + label {
  background: rgb(240, 150, 00);
  color: white;
}

.uc_form .uc_opt_param input[type="text"] {
  display: none;
  margin-left: 10px;
}

.uc_form .uc_opt_param input:checked + label + input {
  display: block;
}

.uc_form .infos, .uc_form .alert {
  background: rgba(240, 152, 0, 0.308);
  color: rgb(240, 150, 00);
  padding: 12px;
  border: none;
  border-left: rgb(240, 150, 00) 5px solid;
  font-weight: bold;
}

.uc_form .infos ul, .uc_form .alert {
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
}

.uc_form a {
  color: #555;
}

.uc_form a:hover {
  color: black;
}

#share_form {
  width: 600px;
}

#share_form .uc_share_url {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#share_form .url-base {
  margin : 0;
}

#share_form .url-more {
  margin : 0;
}

.ui-datepicker-current { display:none; }

.shares_list {
	margin:1em auto;
	padding:0;
  border-spacing:0;
  text-align:left;
  color: #222;
  width: 97%;
}

.shares_list td, .shares_list th {
  padding:5px;
  vertical-align:center;
}

.shares_list tr:not(.header) td {
  height: 20px;
}

.shares_list tr:not(.header) td:first {
  border-left: 1px solid rgba(0, 0, 0, 0.199);
}

.shares_list tr.header th
{
  height:30px;
  color: white;
  background: rgb(240, 150, 00);
}

#mail_form {
  width: 500px;
}

#mail_form input, #mail_form textarea, #add_form input, #edit_form input, #edit_form textarea{
  width: calc(100% - 15px);
}

#mail_form .infos, #mail_form .alert {
  max-width: 500px;
}

.shares_list .row1 td {
  background-color: rgba(0, 0, 0, 0.089);
}

.user-collections-delete-icon {
  background:transparent url('resources/delete.png') center center no-repeat !important;
}
.user-collections-clear-icon {
  background:transparent url('resources/bin.png') center center no-repeat !important;
}
.user-collections-share-icon {
  background:transparent url('resources/share.png') center center no-repeat !important;
}
.user-collections-mail-icon {
  background:transparent url('resources/mail.png') center center no-repeat !important;
}

.collection-edit {
  text-align: center;
}

/* Jconfirm styling */

.jconfirm-type-uc, .jconfirm-type-uc-dark {
  border-top: solid 7px rgb(240, 150, 00);
}

.jconfirm-type-uc .jconfirm-icon-c, .jconfirm-type-uc-dark .jconfirm-icon-c {
  color: rgb(240, 150, 00) !important;
}

.jconfirm-type-uc button.btn-uc, .jconfirm-type-uc-dark button.btn-uc {
  background-color: rgb(240, 150, 00);
  color: white;
}

.jconfirm-type-uc button.btn-uc:hover, .jconfirm-type-uc-dark button.btn-uc:hover {
  background-color: rgb(209, 140, 0);
}

.jconfirm-type-uc-dark {
  background-color: #111 !important;
}

.jconfirm-type-uc-dark .jconfirm-title {
  color: white !important;
}

.jconfirm-type-uc-dark .btn-default {
  color: white !important;
  background: #222 !important;
}

.jconfirm-type-uc-dark .btn-default:hover {
  background: #181818 !important;
}

.jconfirm-type-uc-dark input, .jconfirm-type-uc-dark textarea {
  color: white !important;
}

.jconfirm-type-uc-dark label {
  color: white;
}

.jconfirm-type-uc-dark .shares_list {
  color: white;
}

.jconfirm-type-uc-dark .uc_form a {
  color: white;
}

/* Content where there is no photo */

.uc-no-photo {
  text-align: center;
}

.uc-no-photo a {
  font-weight: bold;
}