#colProperties {}
  #colProperties p {
    text-align:left;
    margin:2px 0;
  }
  #colProperties p.title {
    font-weight:bold;
  }
  #colProperties p:not(.title) {
    margin-bottom:10px;
  }
  
#publicURL {
  display:inline-block;
  height:22px;
}
  #publicURL .url {
    display:inline-block;
    height:14px;
    vertical-align:bottom;
    padding:3px 10px;
    background:#fff;
    font-family:monospace;
    font-size:12px;
    color:#666;
    border:1px solid #999;
    border-radius:0 3px 3px 0;
  }
  #publicURL .button {
    display:inline-block;
    background:#e7e7e7 url('resources/link.png') center center no-repeat;
    width:25px;
    height:20px;
    vertical-align:bottom;
    border:1px solid #999;
    border-right:none;
    border-radius:3px 0 0 3px;
    cursor:pointer;
  }
  #publicURL .confirm {
    font-weight:bold;
    margin-left:5px;
  }

.thumbnailCategory {
  position:relative;
}
.thumbnailCategory .collectionActions {
  display:none;
  position:absolute;
  right:5px;
  bottom:5px;
}
.thumbnailCategory:hover .collectionActions {
  display:block;
}

/* SEND BY MAIL */
#mail_form {
  width:540px;
  padding:10px;
}
  #mail_form table td {
    padding-bottom:5px;
    text-align:left;
  }
  #mail_form table td.title {
    font-weight:bold;
    text-align:right !important;
    padding-top:3px;
    vertical-align:top;
    width:120px;
  }
  #mail_form input[type="text"], #mail_form textarea, #mail_form select {
    border-radius:2px;
    padding:3px;
  }