.chzn-choices li {
  clear:none !important;
}

.property {
  width:auto !important;
}

input[name='max_size'], input[name='max_elements'] {
  border:none;
  background:none;
  font-weight:bold;
  margin-left:5px;
}

#max_size, #max_elements {
  display:inline-block;
  width:300px;
}

.table2 {
  width:auto;
}
.table2 .throw {
  font-size:100%;
  line-height: 1em;
}
TABLE.table2 THEAD TD {
  padding: 3px 5px !important;
}
.table2 .action {
  width:90px;
}
.table2 .user, .table2 .name {
  width:150px;
}
.table2 .date {
  width:230px;
}
.table2 .images {
  width:100px;
}

.connectedSortable {
  display:inline-block;
  width:170px;
  vertical-align:top;
  border:1px dashed #7a7a7a;
  border-radius:5px;
  padding:0 5px 5px 5px !important;
  margin:5px !important;
}
  .connectedSortable h4 {
    font-size:13px;
    text-align:center;
  }
  .connectedSortable li, .sortable-moving  {
    margin:2px;
    padding:0 5xp !important;
    border:1px solid #ffffff;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
    border-radius:3px;
    cursor:move;
    font-family:monospace;
    font-size:12px;
    color:#222;
  }
  .connectedSortable li img {
    vertical-align:middle;
  }
  #fields_inactive li {
    background: #fff4ed;
    background: -moz-linear-gradient(-45deg,  #fff4ed 0%, #ffd8d8 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fff4ed), color-stop(100%,#ffd8d8));
    background: -webkit-linear-gradient(-45deg,  #fff4ed 0%,#ffd8d8 100%);
    background: -o-linear-gradient(-45deg,  #fff4ed 0%,#ffd8d8 100%);
    background: -ms-linear-gradient(-45deg,  #fff4ed 0%,#ffd8d8 100%);
    background: linear-gradient(135deg,  #fff4ed 0%,#ffd8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4ed', endColorstr='#ffd8d8',GradientType=1 );
  }
  #fields_active li {
    background: #e9f6fd;
    background: -moz-linear-gradient(-45deg,  #e9f6fd 0%, #d3eefb 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb));
    background: -webkit-linear-gradient(-45deg,  #e9f6fd 0%,#d3eefb 100%);
    background: -o-linear-gradient(-45deg,  #e9f6fd 0%,#d3eefb 100%);
    background: -ms-linear-gradient(-45deg,  #e9f6fd 0%,#d3eefb 100%);
    background: linear-gradient(135deg,  #e9f6fd 0%,#d3eefb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=1 );
  }
  .sortable-moving  {
    height:1.8em;
    opacity:0.5;
  }

#invokeFrame {
  width:100%;
  background:#e7e7e7;
  color:#222;
  border:none;
}
